// 主要颜色
$colorPrimary: #1878C9;
$colorHover: #3698EA;
$colorDarkGrey: #252D39;
$colorGrey: #344056;

// 功能颜色
$colorError: #C3492D;
$colorWarning: #F9AE35;
$colorSuccess: #5AC494;
$colorScrollBlue: #407BAC;

// 文字颜色
$textColor: #292929;
$textCaption: rgba(41, 41, 41, 0.6);
$textDisabled: rgba(41, 41, 41, 0.4);
$textPrimary: #1878C9;
$radioCheckColor: #4A4A4A;

// 背景颜色
$bgDefault: #FFFFFF;
$bgColor: #F4F1EF;
$bgIcon: #B9B9AF;
$bgRadioDisabled: #F3F3F3;
$bgIconDisabled: #D0D0C7;
$bgHighlight: #DDEFFF;

// 线条
$lineColor: #E5E5E0;
$lineColorDark: #B9B9AF;

// 字体
$fontDefault: 12px;
$fontLarge: 14px;
